#conteudo-base{
    margin-left: 10px;
    margin-bottom: 5px;
}
#titulo{
    font-size: 30px
}
#horario-atual{
    font-size: 20px;
    font-style: italic;
}
button{
    margin-left: 10px;
}
form,#caixaPesquisa, #caixaPesquisaEspec{
    display: none;
    width: 100px;
    margin-top: 5px;
}
label{
    margin-top: 10px;
    margin-bottom: 5px;
}
::placeholder{
    margin-left: 5px;
}
#conteudo-botao{
    margin-right: 10px;
    margin-top: 5px;
    display: flex;
}
#enviar{
    margin-right: 10px;
}